<%- include('./partials/header/header.ejs'); %>
	<body class="is-preload">
		<%- include('./partials/nav/nav.ejs'); %>
		<!-- Heading -->
			<div id="heading" >
				<h1>About Page</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content" style="text-align: justify;">
						<header>
							<h2>DECEASED PROFILING IN CEMETERIES</h2>
						</header>
						<p>Profiling deceased individuals in a cemetery involves the meticulous documentation and preservation of information about those who have passed away. These profiles serve as a valuable resource for families, cemetery administrators, and future generations, providing insight into the lives and legacies of the departed.</p>
						<hr />
						<header>
							<h3>KEY COMPONENTS OF DECEASED PROFILING</h3>
						</header>
						<p>Biographical Information: Each profile includes essential biographical details about the deceased, such as their full name, date of birth, and date of death. This foundational information helps to identify and distinguish individuals within the cemetery records.</p>
						<p>Family and Relationships: Deceased profiling may include information about the individual's family members, including spouses, children, parents, and siblings. Documenting these relationships helps to preserve family history and genealogical connections.</p>
						<p>Burial Preferences: Profiling often encompasses the deceased individual's burial preferences, including their choice of burial plot, casket or urn selection, and any specific funeral or memorial arrangements they have requested. This information ensures that their final wishes are respected and honored.</p>
						<p>Memorialization Details: Deceased profiles may also include details about memorialization options chosen by the family, such as headstone or monument design, inscription preferences, and any additional commemorative elements. These details contribute to the creation of a meaningful and personalized memorial tribute.</p>
						<p>Cultural and Religious Considerations: Profiling takes into account any cultural or religious customs and traditions that are relevant to the deceased individual and their family. This ensures that burial and memorial practices align with their cultural or religious beliefs and preferences.</p>
						<p>Historical Documentation: In addition to contemporary information, profiling may incorporate historical documentation and anecdotes related to the deceased individual's life, achievements, and contributions to their community. This historical context enriches the profile and preserves the individual's legacy for future generations.</p>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%- include('./partials/copyright/copyright.ejs'); %>

		<!-- Scripts -->
<%- include('./partials/footer/footer.ejs') %>