<%- include('./partials/header/header.ejs'); %>
	<body class="is-preload">
		<%- include('./partials/nav/nav.ejs'); %>
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Deceased profiling management system with email notification</h1>
					<p>Life is for the living. Death is for the dead. Let life be like music.</p>
				</div>
				<video autoplay loop muted playsinline src="public/images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Our Services</h2>
						<p>Dedicated to simplifying the process of death registration within cemetery settings. We understand the challenges and complexities that families face during times of loss, and we are committed to offering compassionate and efficient service to ease their burden.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
									<h3 style="font-weight: bold;">mission</h3>
								</header>
								<p>Polanco Death Registrar, dedicated to easing families' burdens, we offer compassionate, professional support, ensuring dignified management of deceased profiling with empathy and innovation.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<!-- <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a> -->
									<h3 style="font-weight: bold;">vision</h3>
								</header>
								<p>To become the leading provider of compassionate and efficient death registration services, setting the standard for excellence in cemetery administration and memorialization.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<!-- <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a> -->
									<h3 style="font-weight: bold;">Goal</h3>
								</header>
								<p>Our primary goal is to provide compassionate and empathetic support to families throughout the death registration process, offering guidance, reassurance, and assistance every step of the way.</p>
							</div>
						</section>
					</div>
				</div>
			</section>
		<!-- CTA -->
			<!-- <section id="cta" class="wrapper">
				<div class="inner">
					<h2>Curabitur ullamcorper ultricies</h2>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
				</div>
			</section> -->

		<!-- Testimonials -->
			<!-- <section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="public/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="public/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="public/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section> -->

		<%- include('./partials/copyright/copyright.ejs'); %>

		<!-- Scripts -->
<%- include('./partials/footer/footer.ejs') %>