<%- include('./partials/header/header.ejs'); %>

<body class="is-preload">
    <%- include('./partials/nav/nav.ejs'); %>
    <!-- Heading -->
    <div id="heading">
        <h1>Registration</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content" style="background-color: #f1eeee;">
                <div class="row">
                    <div class="col-12 col-12-medium" >
                        <h2 style="padding: 40px; text-align: center;">Registration</h2>
                        <!-- Registration Form -->
                        <form action="doRegister" method="post" >
                            <div class="row gtr-uniform">
                                <div class="col-12">
                                    <h3>Information</h3>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" name="fullname" id="fullname" value="" placeholder="Surname, Firstname Middlename" required/>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="text" name="address" id="address" value="" placeholder="Address" required/>
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="contact" id="contact" value="" placeholder="Contact Ex. 09123456789" required/>
                                </div>
                                <div class="col-12">
                                    <h3>Relatives</h3>
                                </div>
                                <div class="col-12 col-12-xsmall">
                                    <ul class="actions" id="relativesList">
                                        <li><input type="text" name="relativeName" id="relativeName" value="" placeholder="Surname, Firstname Middlename" required/></li>
                                        <li><input type="email" name="relativeEmail" id="relativeEmail" value="" placeholder="Email" required/></li>
                                    </ul>
                                    <input type="button" value="+ Add Relatives" class="primary" id="addRelativeBtn" />
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="Password" required/>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="password" name="confirmPassword" id="confirmPassword" value="" placeholder="Confirm Password" required/>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Submit" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>Accumsan montes viverra</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer
                        non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem
                        accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum
                        primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed
                        feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
                </section>
                <section>
                    <h4>Sem turpis amet semper</h4>
                    <ul class="alt">
                        <li><a href="#">Dolor pulvinar sed etiam.</a></li>
                        <li><a href="#">Etiam vel lorem sed amet.</a></li>
                        <li><a href="#">Felis enim feugiat viverra.</a></li>
                        <li><a href="#">Dolor pulvinar magna etiam.</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Magna sed ipsum</h4>
                    <ul class="plain">
                        <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                        <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                        <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                        <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                    </ul>
                </section>
            </div>
            <div class="copyright">
                &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a
                    href="https://coverr.co">Coverr</a>.
            </div>
        </div>
    </footer>
    <script>
        <% if (messages.message) { %>
        window.alert('<%= messages.message %>');
        <% } %>
        document.addEventListener("DOMContentLoaded", function() {
            const addRelativeBtn = document.getElementById('addRelativeBtn');
            
            addRelativeBtn.addEventListener('click', function() {
                const newRelativesDiv = document.createElement('div');
                newRelativesDiv.className = 'col-12 col-12-xsmall';
                
                const newRelativesUl = document.createElement('ul');
                newRelativesUl.className = 'actions';
                
                const newRelativeNameLi = document.createElement('li');
                const newRelativeNameInput = document.createElement('input');
                newRelativeNameInput.setAttribute('type', 'text');
                newRelativeNameInput.setAttribute('name', 'relativeName');
                newRelativeNameInput.setAttribute('placeholder', 'Surname, Firstname Middlename');
                newRelativeNameLi.appendChild(newRelativeNameInput);
                
                const newRelativeEmailLi = document.createElement('li');
                const newRelativeEmailInput = document.createElement('input');
                newRelativeEmailInput.setAttribute('type', 'email');
                newRelativeEmailInput.setAttribute('name', 'relativeEmail');
                newRelativeEmailInput.setAttribute('placeholder', 'Email');
                newRelativeEmailLi.appendChild(newRelativeEmailInput);
                
                newRelativesUl.appendChild(newRelativeNameLi);
                newRelativesUl.appendChild(newRelativeEmailLi);
                
                newRelativesDiv.appendChild(newRelativesUl);
                
                const relativesContainer = document.querySelector('.col-12.col-12-xsmall');
                relativesContainer.insertBefore(newRelativesDiv, addRelativeBtn);
            });
        });
        </script>
<%- include('./partials/footer/footer.ejs') %>