    <!-- JavaScript Libraries -->
    <script>
        <% if(messages.message) {%>
            alert('<%= messages.message %>');
        <% } %>
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // Listen to the submit event of forms containing submit-button class
            $('.submit-button1').closest('form').on('submit', function() {
                // Disable the submit button when the form is submitted
                $(this).find('.submit-button1').prop('disabled', true);
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="public/admin/lib/chart/chart.min.js"></script>
    <script src="public/admin/lib/easing/easing.min.js"></script>
    <script src="public/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="public/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="public/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="public/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="public/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/admin/js/main.js"></script>
</body>

</html>